= form_for @restaurant, :html => { :multipart => true } do |f|
  - if @restaurant.errors.any?
    #error_explanation
      %h2
        = pluralize(@restaurant.errors.count, "error")
        prohibited
        this post from being saved:
      %ul
        - @restaurant.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :description
    %br/
    = f.text_area :description
  %p
    = f.label :street
    %br/
    = f.text_field :street
  %p
    = f.label :city
    %br/
    = f.text_field :city
  %p
    = f.label :state
    %br/
    = f.text_field :state
  %p
    = f.label :zip
    %br/
    = f.text_field :zip
  %p
    = f.label :phone
    %br/
    = f.text_field :phone
  %p
    = f.file_field :image
  %p
    = f.submit 'Add Restaurant', :class =>'button expand large'